$font:#131515;
$background:#f1feff;
$background-light:#7DE2D1;
$background-dark:#454641;
$success:#7de280;
$error:#d24242;
$error-light:#f2b4b4;
$background-success:$success;
$background-error:$error;

.ant-layout-footer {
    width: 100%;
    display: block;
    bottom: 0;
}

.App {
    h1 {
        color: $font;
    }
}

.ant-layout-content {
    align-items: center;
    align-content: center;
    padding-inline: 5%;
    background-color: $background;
}

.ant-col-8 {
    display: block;
    flex: 0 0 0 39.7%;
    max-width: 100%;
    align-content: space-between;
}

.root .ant-layout {
    height: 100px;
    border: 8px;
    border-color: aqua;
}

.modulo {
    margin-top: 2em;
    display: flexbox;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    border-radius: 1em;
}


body{
    background-color: $background;

}

.ant-card {
    border-radius: 30px;
    margin: 3px;
}

.ant-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 5%;
}

.ant-card-cover img {
    border-radius: 30px;
}


.ant-card.ant-card-bordered.ant-card-hoverable {
    padding: 5px;

}

.ant-card.ant-card-bordered.ant-card-hoverable {
    padding: 5px;
}

.img {
    width: 150px;
    border-radius: 15em;
}





